@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');

.app {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Oswald', sans-serif;
}

.app-header {
    background: #4267b2;
    color: #ffffff;
    text-align: center;
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.app-title {
    margin: 0;
    padding: 0;
    text-shadow: 1px 1px 2px black;
}

.app-subtitle {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-weight: 400;
    text-shadow: 1px 1px 2px black;
}

.app-main {
    flex-grow: 1;
    max-width: 1600px;
    margin-bottom: 70px;
}

.app-footer {
    background: #4267b2;
    color: #ffffff;
    text-align: center;
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.app-footer p {
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
    font-weight: 400;
    text-shadow: 1px 1px 2px black;
}