@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');

.app {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Oswald', sans-serif;
}

.app-header {
    background: #4267b2;
    color: #ffffff;
    text-align: center;
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.app-title {
    margin: 0;
    padding: 0;
    text-shadow: 1px 1px 2px black;
}

.app-subtitle {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-weight: 400;
    text-shadow: 1px 1px 2px black;
}

.app-main {
    flex-grow: 1;
    max-width: 1600px;
    margin: 0 15px 70px 15px;
    min-width: 320px;
}

.app-footer {
    background: #4267b2;
    color: #ffffff;
    text-align: center;
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.app-footer p {
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
    font-weight: 400;
    text-shadow: 1px 1px 2px black;
}

.app-error {
    text-align: center;
    width: 100%;
    font-size: 2rem;
    color: red;
}

.load-more-btn {
    border: 2px solid #4267b2;
    padding: 17px 30px;
    cursor: pointer;
    border-radius: 1px;
    font-size: 1rem;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    transition: all 0.3s ease-in-out;
    background: transparent;
    color: #4267b2;
    margin: 30px auto auto auto;
    display: block;
}

.load-more-btn:hover {
    background: #4267b2;
    color: #ffffff ;
}

.app-not-found-page {
    text-align: center;
    font-size: 2rem;
    margin-top: 30px;
}
